nav ul{
    margin: 0px;
}
nav{
    background-color: rgb(179, 173, 145);
    text-align: center;
    border-radius: 10px;
}
nav li{
    list-style-type: none;
    display: inline-block;
}
nav li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
}
nav li a:hover{
    background-color: rgb(161, 161, 161);
    color: #F2CA8D;
    transition:0.5s;
}